In [7]:
list = [ 1, 2, 3, 4, 5, 6, 7, 8, 9,10]

list.pop(-1)

item = list[-1]
for i in list:
  print(i)

1
2
3
4
5
6
7
8
9

In [10]:
list = [ 1, 2, 3, 4, 5, 6, 7, 8, 9,10]

del list[-1]

for i in list:
  print(i)

1
2
3
4
5
6
7
8
9

In [15]:
list = [ 1, 2, 3, 4, 5, 6, 7, 8, 9,10]

item = list[-1]
print(item)

10

In [26]:
list = [ 1, 2, 3, 4, 5, 6, 7, 8, 9,10]

# list[start:end:stop]

print(list[1:-2]) #start
print(list[-7:-2]) #end
print(list[1:]) #step
print(list[:]) #imprimir todos los numeros
print(list[2:-1:2])
print(list[::-1]) #print en reverse or de mayor a menor

[2, 3, 4, 5, 6, 7, 8]
[4, 5, 6, 7, 8]
[2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [32]:
sample_url = 'https://coreyms.com/'
print(sample_url)
print(sample_url[::-1]) #printe en reversed
print(sample_url[-4:]) #print domein (cuenta las letras y la numeracion que uno le pida eso imprime)
print(sample_url[7:]) #print segun la ubicacion que uno le ponga
print(sample_url[7:-4])

https://coreyms.com/
/moc.smyeroc//:sptth
com/
/coreyms.com/

In [37]:
courses = ['h', 'm', 'p', 'c']
courses.append('art') #insertar art
courses.insert(0,'art') #position donde quiero que me inserte el dato
print(courses)

['art', 'h', 'm', 'p', 'c', 'art']

In [40]:
courses = ['h', 'm', 'p', 'c']
courses2 = ['art', 'e']
courses.insert(0, courses2) #insertar dos base de datos con la posicion donde quiero que queden, como subconjunto
print(courses)

[['art', 'e'], 'h', 'm', 'p', 'c']

In [42]:
courses = ['h', 'm', 'p', 'c']
courses2 = ['art', 'e']
courses.extend(courses2) #insertar a la base de datos 1 la base de datos dos
print(courses)

['h', 'm', 'p', 'c', 'art', 'e']

In [43]:
courses = ['h', 'm', 'p', 'c']
courses.remove('h') #remove item
print(courses)

['m', 'p', 'c']

In [44]:
courses = ['h', 'm', 'p', 'c']
courses.pop() #remove ilast item
print(courses)

['h', 'm', 'p']

In [46]:
courses = ['h', 'm', 'p', 'c']
poppop = courses.pop() #remove last item
print(poppop) #show what item delete
print(courses)

c
['h', 'm', 'p']

In [47]:
courses = ['h', 'm', 'p', 'c']
courses.reverse() #reverse items
print(courses)

['c', 'p', 'm', 'h']

In [48]:
courses = ['h', 'm', 'p', 'c']
courses.sort() #sort item
print(courses)

['c', 'h', 'm', 'p']

In [60]:
courses = [1,2,5,4,6,10,9,8]
courses.sort(reverse=True) #sort item
print(courses)

[10, 9, 8, 6, 5, 4, 2, 1]

In [50]:
courses = ['h', 'm', 'p', 'c']
courses.sort(reverse=True) #sort item
print(courses)

['p', 'm', 'h', 'c']

In [61]:
courses = [1,2,5,4,6,10,9,8]
sorted(courses)

[1, 2, 4, 5, 6, 8, 9, 10]

In [62]:
courses = [1,2,5,4,6,10,9,8]
sorteC = sorted(courses)
print(sorteC)

[1, 2, 4, 5, 6, 8, 9, 10]

In [65]:
courses = [1,2,5,4,6,10,9,8]
nums= sorted(courses)

print(min(nums))
print(max(nums))
print(sum(nums))

1
10
45

In [67]:
courses = ['h', 'm', 'p', 'c']
print(courses.index('p')) #to see if item is in de list or position in the list

2

In [70]:
courses = ['h', 'm', 'p', 'c']
print('p' in courses) #to see if item is in de list

True

##LIST create Loop

In [77]:

courses = ['h', 'm', 'p', 'c']
for item in courses:
  print(item) #Create a loop a list
  print('--------')
#or

courses = ['h', 'm', 'p', 'c']
for index, course in enumerate(courses, start=1):
  print(index, course) #Create a loop a list

h
--------
m
--------
p
--------
c
--------
1 h
2 m
3 p
4 c

#LIST create str or separed by comma

In [82]:
courses = ['h', 'm', 'p', 'c']
course_strC = ', '.join(courses) #separar by comma
course_strR = ' - '.join(courses) #separar by raya
course_strN = course_strR.split(' - ') #volver a list
print(course_strC)
print(course_strR)
print(course_strN)

h, m, p, c
h - m - p - c
['h', 'm', 'p', 'c']

# LIST create Tuples.

use if we need to modificate something in the dataset

In [91]:
#Mutable

list1 = ['h', 'm', 'p', 'c']
list2 = list1

print(list1)
print(list2)

['h', 'm', 'p', 'c']
['h', 'm', 'p', 'c']

In [92]:
list1 = ['h', 'm', 'p', 'c']
list2 = list1

list1[0] = 'a' #include other item in a mutable list
print(list1)
print(list2)

['a', 'm', 'p', 'c']
['a', 'm', 'p', 'c']

In [93]:
#Inmutable list
tuple1 = ['h', 'm', 'p', 'c']
tuple2 = tuple1

tuple1[0] = 'A'

print(tuple1)
print(tuple2)

['A', 'm', 'p', 'c']
['A', 'm', 'p', 'c']

#Set

In [97]:
cs_set = {'h', 'm', 'p', 'c', 'i'}
print(cs_set)

{'p', 'h', 'c', 'm', 'i'}

In [98]:
cs_set = {'h', 'm', 'p', 'c', 'i'}
print('m' in cs_set) #identified if set has a item

True

In [100]:
cs_set = {'h', 'm', 'p', 'c', 'i'} #to see what items are same
int_set = {'h', 'm', 'p', 'a', 'd'}
print(cs_set.intersection(int_set))

{'m', 'h', 'p'}

In [101]:
cs_set = {'h', 'm', 'p', 'c', 'i'} #to see what items are different
int_set = {'h', 'm', 'p', 'a', 'd'}
print(cs_set.difference(int_set))

{'c', 'i'}

In [102]:
cs_set = {'h', 'm', 'p', 'c', 'i'} #unit bouth set in one.
int_set = {'h', 'm', 'p', 'a', 'd'}
print(cs_set.union(int_set))

{'p', 'h', 'd', 'c', 'm', 'a', 'i'}

#Create different class of Empthy

In [ ]:
#Empthy list

emptyL = []
emptyL = list()

In [ ]:
# tuple

emptyT = ()
emptyT = tuple()

In [ ]:
#Empty set

emptyS = {} #dictionary
emptyS = set()